
html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #f43f5e #08090d;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #08090d;
}

::-webkit-scrollbar-thumb {
  background: rgba(244, 63, 94, 0.4);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f43f5e;
}


.custom-scrollbar-x {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #f43f5e transparent;
}

.custom-scrollbar-x::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar-x::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb {
  background: rgba(244, 63, 94, 0.5);
  border-radius: 9999px;
}
